Repository HE-Arc/datarc, pull requests merged in 2022-04, with the labels that each got.

#18 Views
  front/src/App.vue
  front/src/components/File.vue
  front/src/components/NavigationBar.vue
  front/src/components/SplashScreen.vue
  front/src/index.css
  front/src/views/Home.vue
  front/src/views/Login.vue
  front/src/views/Profile.vue
Labels: front

#20 MySQL Database settings + Environnements variables
  back/.env.example
  back/datarcBack/datarcBack/settings.py
  back/requirements.txt
Labels: back

#21 Uploading views
  front/src/components/File.vue
  front/src/components/Modal.vue
  front/src/components/NavigationBar.vue
  front/src/components/UploadWindow.vue
  front/src/index.css
  front/src/views/Home.vue
  front/src/views/Login.vue
  front/src/views/Profile.vue
  front/src/views/Register.vue
  front/src/views/Upload.vue
  front/tailwind.config.js
Labels: front

#22 Working settings for production
  back/datarcBack/datarcBack/settings.py
Labels: bug, back

#23 Front to back
  back/datarcBack/api/urls.py
  back/datarcBack/api/views.py
  back/datarcBack/datarcBack/settings.py
  front/package-lock.json
  front/src/Tools/Cookie.js
  front/src/Tools/Network.js
  front/src/Tools/UploadTools.js
  front/src/Tools/Valid.js
  front/src/Tools/nav.js
  front/src/router/index.js
  front/src/views/Home.vue
  front/src/views/Login.vue
  front/src/views/Register.vue
  front/src/views/Test.vue
Labels: front, back

#24 connect upload and download
  back/datarcBack/api/views.py
  back/datarcBack/datarcBack/settings.py
  front/src/Tools/UploadTools.js
  front/src/components/File.vue
  front/src/components/Modal.vue
  front/src/components/UploadWindow.vue
  front/src/views/Login.vue
  front/src/views/Profile.vue
  front/src/views/Register.vue
Labels: front, back

#27 Regex validator
  back/datarcBack/api/validator.py
  front/src/Tools/Valid.js
Labels: front, back
